.discountModal__title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #004c98;
  margin: 0 0 0.5rem;
}
img {
  width: 100%;
  object-fit: contain;
}
.discountModal__title--label {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  color: #8abd06;
}
.discountModal__outWrapper {
  width: 828px;
  height: 634px;
  background: #f2f8ff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.discountModal__innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 7.625rem 2rem;
}
body {
  background: red;
}

.discountModal__subtitle {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #004c98;
  margin: 0 0 1.5rem;
}

button {
  background-color: #8abd06;
  border: 1px solid #8abd06;
  border-radius: 2rem;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  width: 100%;
  height: 48px;
  margin-bottom: 0.75em;
}

.discountModal__alertTitle {
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #003a75;
}

.discountModal__actionsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 440px;
}

.discountModal__actionsWrapper .discountModal_field {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 2rem;
  height: 42px;
  text-indent: 1.5rem;
  border: 1px solid #dbdbdb;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #9692a3;
}

.discountModal__confirmationWrapper {
  display: flex;
}

.discountModal__checkbox {
  height: 12px;
  width: 12px;
}
